.header {
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    max-height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 999;
}

.header__inner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header__backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(0.75) contrast(0.75) blur(10px)hue-rotate(120deg);
}

.header__logo {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    left: 5%;
    width: 90%;
    margin: 0 auto;
}


/* nav block */

.nav {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    padding: 30px;
    margin-right: 10%;
    white-space: nowrap
}

.nav__link {
    position: relative;
    top: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color 0.1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 110%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav__link:hover {
    color: tomato;
}

.nav__link:hover:after {
    background-color: tomato;
    opacity: 1;
}

.account__block {
    position: relative;
    top: 7.5px;
    height: 50%;
    display: block;
    border: white 3px solid;
    border-radius: 10px;
    max-width: 300px;
    max-height: 90px;
}

.account__inner {
    display: flex;
    justify-content: space-between;
    white-space: nowrap
}

.account__image {
    height: 90px;
    border: white 3px solid;
    border-radius: 10px;
    margin: -3px;
    background-image: url("../../images/icons/logo.png");
    -webkit-background-size: cover;
    background-size: cover;
}

.account__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account__nick {
    font-size: 15px;
    margin: 5px 0px;
    vertical-align: top;
    color: white;
    padding: 5px;
}

.login {
    align-self: center;
    position: relative;
    color: white;
    font-size: 15px;
    border: white solid 3px;
    border-radius: 10px;
    padding: 2px 10px;
    transition: background-color ease 0.5s;
}

.login:hover {
    background-color: rgb(128, 219, 225, 80);
}

.account__mobile {
    font-size: 30px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    margin-left: -60px;
    height: 50%;
    display: block;
    border: white 3px solid;
    border-radius: 15px;
    padding: 3px 10px;
    color: white;
    display: none;
}

@media screen and (max-width: 1050px) {
    .account__block {
        display: none;
    }
    .nav {
        margin-left: 50px;
        font-size: 18px;
    }
    .nav__link {
        top: 10px;
    }
    .header__logo {
        left: -20px;
    }
    .account__mobile {
        display: block;
    }
    .header {
        position: absolute;
    }
}