body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(5, 5, 5);
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    ;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding-left: 3vh;
    padding-top: 2vh;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    vertical-align: top;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    padding-top: 4vh;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color 0.1s linear;
    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav__link:hover {
    color: tomato;
}

.nav__link:hover:after {
    background-color: tomato;
    opacity: 1;
}

.footer {
    min-height: 8vh;
    margin-top: -8vh;
    backdrop-filter: blur(35px);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__authors {
    position: relative;
    padding-top: 3vh;
    padding-bottom: 1%;
    padding-left: 1%;
    color: rgb(0, 0, 0);
    font-size: 1.92rem;
    font-weight: 500;
}

.authors {
    font-size: 12px;
}

.nav__link__footer {
    font-size: 12px;
    padding-top: 3vh;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.1s linear;
    position: relative;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: url("../../images/backgrounds/bg1.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.intro__title {
    font-size: 100px;
    font-weight: 500px;
    text-align: center;
    color: tomato;
    position: relative;
    top: -10vh;
}

.description {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.desc {
    position: relative;
    left: 20%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    max-width: 880px;
}

.button__submit {
    height: 8vh;
    color: white;
    width: 100%;
    border: solid rgb(255, 255, 255) 4px;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
    transition: backdrop-filter 0.2s ease;
}

.button__submit:hover {
    backdrop-filter: blur(10px);
}

.field__nick {
    position: relative;
    left: -10px;
    width: 100%;
    margin: 10px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: solid rgb(255, 255, 255) 4px;
}

.img_buy {
    color: white;
}

.field__nick__input::placeholder {
    color: #32393f86;
    opacity: 0.4;
}

.main__block {
    position: relative;
    top: -10vh;
    min-height: 40vh;
}

.filler {
    background-color: tomato;
    position: relative;
    min-height: 2vh;
    backdrop-filter: blur(35px);
}

.file__block {
    width: 90%;
    color: white;
    display: flex;
    border: white solid 5px;
    border-radius: 10px;
    margin: 2vh;
    transition: color ease 0.2s;
    transition: backdrop-filter ease 0.2s;
}

.file_name {
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 800;
    top: 1vh;
    left: 5%;
    text-align: center;
    font-size: 26px;
    margin: 0px, 10px;
}

.doc_image {
    padding: 10px;
    filter: invert(100%);
}

.file__block:hover {
    color: tomato;
    border: tomato solid 5px;
    backdrop-filter: blur(10px);
}

.padd {
    min-height: 2vh;
}