body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(5, 5, 5);
    line-height: 1.6;
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: url("/images/background/1.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    text-align: center;
    color: white;
}

.code {
    font-size: 50px;
    text-align: center;
    color: white;
}

.home {
    font-size: 40px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    left: 35%;
    margin: 10px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: white;
    border: solid white 5px;
    transition: backdrop-filter ease 0.2s;
}

.home:hover {
    backdrop-filter: blur(10px);
}